.sketchfaux
:javascript
  $( function(){
    $( 'div.sketchfaux' ).sketchfaux( '#{ Sketch.url_for( params[:sketch] ) }' );
  } );
.sketches
  %span 
    Last 5 sketches.
  %ul
    -Sketch.find_all[ 0, 5 ].each do |sketch|
      %li
        %div
          -if Sketch.thumbnail_for( sketch )
            %a{ :href => "/?sketch=#{ sketch }" }
              %img{ :src => Sketch.thumbnail_for( sketch ) } 
          %br
          %a{ :href => "/?sketch=#{ sketch }" }= sketch

